body {
    font-family:calibri;
    font-size: 15px;
    background: #4CAF50;
}

#sortbutton {
    width:100px;
    margin:30px auto;
    text-align:center;
    padding:20px;
    background:#4CAF50;
    color:#BEEF9E;
    font-weight:bold;
}

.input-group {
    max-width:500px;
    width:50%;
    margin:20px auto;
    color: #4CAF50;
}

.header {
    max-width:800px;
    margin:20px auto;
    width:100%;
    background:#4CAF50;
    color:#fff;
    text-align:center;
    font-weight:bold;
    padding: 32px;
    font-size: 30px;
}
.options {
    margin:15px auto;
    width:50%;
    max-width:500px;
    background:#4CAF50;
    color:#fff;
    text-align:center;
    font-weight:bold;
    padding: 15px;
    font-size: 30px;
}
.embed {
	margin:20px auto;
	padding: 32px;
}