body {
    margin-top:120px;
    font-family:calibri;
    font-size: 15px;
}

.button {
    width:100px;
    margin:30px auto;
    text-align:center;
    padding:20px;
    background:#4CAF50;
    color:#BEEF9E;
    font-weight:bold;
}

.input-group {
    max-width:500px;
    width:50%;
    margin:20px auto;
    color: #4CAF50;
}

.header {
    top:0px;
    left:0px;
    height:100px;
    width:100%;
    background:#000;
    color:#fff;
    line-height:100px;
    font-size:20px;
    font-weight: bold;
    text-align:center;
    border-bottom: 10px solid #4CAF50;
    
}

.playlists {
    width:300px;
    font-size:12px;
    background:#fff;
    border:1px solid #4CAF50;
}

.playlists option {
    border-top:1px solid #4CAF50;
    padding:5px;
}

.embed {
	margin:20px auto;
	padding: 32px;
}