{% extends "layout.html" %}
{% block body %}

<a href="/tracks"><div class="button" id="playlists">show playlists</div></a>
<select class="playlists" onChange="location.href=this.options[this.selectedIndex].value;">>
    <option value="/">choose a playlist</option>
    {% for n in name %}
    <option value="/chooser/{{n.id}}">{{n.title}}</option>
    {% endfor %}
</select>

<div class="embed"><center><iframe id= "embed" src= "https://embed.spotify.com/?uri=spotify:user:{{userid}}:playlist:{{playlistid}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe></center></div>

{% endblock %}