<html>
	<head>
        
		<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="/static/script.js"></script>
		

        <title>title</title>
        
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">  
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">

		</script>
	</head>
	<body>
        <div class="container-fluid">
            <div class="header">Perfect Playlist</div>
            <a href="/auth"><div class="button" id="authorize">authorize</div></a>
            
            <ul class="playlists">
                {% for n in name %}
                <li>{{n}}</li>
                {% endfor %}
            </ul>
            
            
            <a href="/tracks"><div class="button" id="playlists">show playlists</div></a>
        </div>
	</body>
</html>

