
{% extends "layout.html" %}
{% block body %}

<a href="/auth"><div class="button" id="authorize">authorize</div></a>

<a href="/tracks"><div class="button" id="playlists">show playlists</div></a>
<!--            {% if code is not none %}-->
<select class="playlists" onChange="location.href=this.options[this.selectedIndex].value;">>
    <option value="/">choose a playlist</option>
    {% for n in name %}
    <option value="/chooser/{{n.id}}">{{n.title}}</option>
    {% endfor %}
</select>
<!--            {% endif %}-->

{% endblock %}