<html>
	<head>

        <title>Perfect Part Playlist</title>
        
		<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
        
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">  

	</head>
	<body>
        <div class="container-fluid">
            <div class="header"><a href="/">Perfect Party Playlist</a></div>
            {% block body %}{% endblock %}
        </div>
	</body>
</html>

